<p id="notice"><%= notice %></p>

<p>
  <strong>Genre:</strong>
  <%= @genre.title %>
</p>

<% if @genre.playlists %>
  <ul>
  <% @genre.playlists.each do |playlist| %>
    <li><%= link_to playlist.title, genre_playlist_path(genre_id: @genre.id, id:playlist.id) %></li>
  <% end %>
  </ul>
<% end %>

<%= link_to 'New Playlist',  new_genre_playlist_path(genre_id: @genre.id) %> |
<%= link_to 'Back', genres_path %>
