<p id="notice"><%= notice %></p>

<h1>Listing Browsegenres</h1>

<table>
  <thead>
    <tr>
      <th>Newreleases</th>
      <th>String</th>
      <th>Category</th>
      <th>String</th>
      <th>Search</th>
      <th>String</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @browsegenres.each do |browsegenre| %>
      <tr>
        <td><%= browsegenre.newreleases %></td>
        <td><%= browsegenre.string %></td>
        <td><%= browsegenre.category %></td>
        <td><%= browsegenre.string %></td>
        <td><%= browsegenre.search %></td>
        <td><%= browsegenre.string %></td>
        <td><%= link_to 'Show', browsegenre %></td>
        <td><%= link_to 'Edit', edit_browsegenre_path(browsegenre) %></td>
        <td><%= link_to 'Destroy', browsegenre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Browsegenre', new_browsegenre_path %>
