<p id="notice"><%= notice %></p>

<p>
  <strong>Newreleases:</strong>
  <%= @browsegenre.newreleases %>
</p>

<p>
  <strong>String:</strong>
  <%= @browsegenre.string %>
</p>

<p>
  <strong>Category:</strong>
  <%= @browsegenre.category %>
</p>

<p>
  <strong>String:</strong>
  <%= @browsegenre.string %>
</p>

<p>
  <strong>Search:</strong>
  <%= @browsegenre.search %>
</p>

<p>
  <strong>String:</strong>
  <%= @browsegenre.string %>
</p>

<%= link_to 'Edit', edit_browsegenre_path(@browsegenre) %> |
<%= link_to 'Back', browsegenres_path %>
