<%= form_for(@userprofile) do |f| %>
  <% if @userprofile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@userprofile.errors.count, "error") %> prohibited this userprofile from being saved:</h2>

      <ul>
      <% @userprofile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :recentlyplayedartists %><br>
    <%= f.text_field :recentlyplayedartists %>
  </div>
  <div class="field">
    <%= f.label :string %><br>
    <%= f.text_field :string %>
  </div>
  <div class="field">
    <%= f.label :followers %><br>
    <%= f.text_field :followers %>
  </div>
  <div class="field">
    <%= f.label :int %><br>
    <%= f.text_field :int %>
  </div>
  <div class="field">
    <%= f.label :playlists %><br>
    <%= f.text_field :playlists %>
  </div>
  <div class="field">
    <%= f.label :following %><br>
    <%= f.text_field :following %>
  </div>
  <div class="field">
    <%= f.label :int %><br>
    <%= f.text_field :int %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :follow %><br>
    <%= f.text_field :follow %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
