<p id="notice"><%= notice %></p>

<h1>Listing Userprofiles</h1>

<table>
  <thead>
    <tr>
      <th>Recentlyplayedartists</th>
      <th>String</th>
      <th>Followers</th>
      <th>Int</th>
      <th>Playlists</th>
      <th>Following</th>
      <th>Int</th>
      <th>Name</th>
      <th>Follow</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @userprofiles.each do |userprofile| %>
      <tr>
        <td><%= userprofile.recentlyplayedartists %></td>
        <td><%= userprofile.string %></td>
        <td><%= userprofile.followers %></td>
        <td><%= userprofile.int %></td>
        <td><%= userprofile.playlists %></td>
        <td><%= userprofile.following %></td>
        <td><%= userprofile.int %></td>
        <td><%= userprofile.name %></td>
        <td><%= userprofile.follow %></td>
        <td><%= link_to 'Show', userprofile %></td>
        <td><%= link_to 'Edit', edit_userprofile_path(userprofile) %></td>
        <td><%= link_to 'Destroy', userprofile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Userprofile', new_userprofile_path %>
